/* Reset default margins/padding */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #0b0c1a; /* dark background for contrast */
  color: #ffffff;
  text-align: center; /* centers everything horizontally */
}

/* Heading style */
h1 {
  font-size: 2rem;
  margin-top: 10px;
  color: #fff;
}

.explanation-below {
  color: #fff;
  margin-top: 20px;
  margin-bottom: -40px;
  font-size: 1.1rem;
}

/* How-to-use section */
.how-to-use {
  margin: 2rem auto;
  margin-left: 15px;
  margin-right: 15px;
  padding: 1.5rem 2rem;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.how-to-use h2 {
  font-size: 1.6rem;
  margin-bottom: 20px;;
  color: #444;
}

.how-to-use h3 {
  margin-top: 1.5rem;
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #444;
}

.how-to-use p {
  margin-top: 5px;
  margin-bottom: 1rem;
  color: #444;
}

/* List of examples */
.how-to-use ul {
  list-style: none;
  padding-left: 0;
}

.how-to-use li {
  color: #444;
  margin-bottom: 10px;
}

/* Code block styling */
code {
  display: block;
  background: #f4f4f4;
  color: #c7254e;
  font-family: "Courier New", monospace;
  padding: 0.6rem 0.8rem;
  border-radius: 6px;
  font-size: 0.95rem;
  white-space: pre-wrap; /* wrap long lines */
  margin-top: 0.3rem;
  margin-bottom: 5px;
  text-align: left; /* ensures code is left aligned */
}
